/* fonts */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("fonts/inter-variable.ttf");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("fonts/inter-variable-italic.ttf");
}

/* style */
html {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  display: grid;
  place-items: center;

  font-family: Inter, sans-serif;
}

body {
  border-left: solid #1D2951 4px;
  padding: 12px;
  box-shadow: 4px 4px 16px #aaa;
  max-width: 80ch;
  width: calc(100% - 48px);
}

h1 {
  font-size: 120%;
}

pre {
  padding: 1ch;
  background: #f2f2f2;
  tab-size: 4;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

/* syntax highlighting */
.comment {
  color: #999;
}

.statement {
  color: #c22;
}

.constant-string {
  color: #181;
}
