h1,
p {
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main {
  text-align: center;
  box-shadow: 5px 5px 20px #aaa;
  padding: 20px;
  border-radius: 10px;
}

img {
  width: 100%;
}
